@import url("https://fonts.googleapis.com/css?family=Blinker:400,800&display=swap");

html {
    
  overflow-x: hidden;
  height: 100%;
  overflow-y: hidden;
} 

body {
  
  animation: gradient 10s ease infinite;
  font-family: Blinker, sans-serif;
  letter-spacing: 0.1rem;
  color: #0c222b;
  
  height: 100%;
  
  align-items: center;
  justify-content: center;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:700");




@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#page-wrap {
  width: 800px;
  margin: 0 auto;
}



.infotrek {
  position: absolute;
  top: 7%;
  left: 6%;
}

.infotrek img {
  height: 12%;
  width: 12%;
}


#timer div {
  background-color: rgba(12, 8, 8, 0.863);
  color: #ffffff;
  width: 105px;
  height: 105px;
  border-radius: 5px;
  font-size: 35px;
  font-weight: 700;
  margin-top: 20%;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 2px 4px 4px rgb(221, 236, 235);
}
#timer div span {
  display: block;
  margin-top: -2px;
  font-size: 15px;
  font-weight: 500;
}

 .infotrek-main {
  position: relative;
  top: 20%;
  left: 28rem;
  animation: shakeX; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 4s !important;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.infotrek-main img {
  height: 20vh;
  width: 40vw;
}


@media screen and (max-width: 600px) {
  body {
    background-size: 300% 300%;
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
  }

  .infotrek {
    top: 0.2rem;
  }

  .infotrek img {
    width: 50%;
  }

 

  #timer {
    margin-top: -20px;
  }
  #timer div {
    width: 70px;
    height: 70px;
    font-size: 32px;
    margin-top: 20px;
  }
  #timer div span {
    font-size: 14px;
  }
}
@media screen and (max-width: 375px) and (max-height: 800px) {
  #timer {
    margin-bottom: -20rem;
  }
  #timer div {
    width: 70px;
    height: 70px;
    font-size: 32px;
    margin-top: -15rem;
  }
  #timer div span {
    font-size: 14px;
  }


}

@media screen and (max-width: 800px) {
  #timer {
    margin-bottom: -20rem;
    margin-left: 4rem;
  }
  #timer div {
    width: 70px;
    height: 70px;
    font-size: 32px;
    margin-top: -15rem;
  }
  #timer div span {
    font-size: 14px;
  }

 
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  #timer {
    margin-bottom: -15rem;
  }
  #timer div {
    width: 120px;
    height: 120px;
    font-size: 32px;
    margin-top: -25rem;
  }
  #timer div span {
    font-size: 14px;
  }

 
}
