body {
	/*background: linear-gradient(-45deg, #ee7752, #2c3e50, #23a6d5, #434343);*/
    background: radial-gradient(#2c3e50, #152f49, #000, #f9f1e9);

	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.nav-des {
    background: transparent !important;
    margin-top: -47%;
}

nav a {
    color: white !important;
    font-size: 20px;
    margin: auto 40px;
}

button {
    color: white;
    display: inline-block;
}

i {
    font-size: 25px;
}

.events{
    color:white;
    text-align: center;
    margin-top: 15%;
    padding: 4%;
    margin-left: -5%;
}

.card{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-left: 45px;
    color:white;
    background-color:slategray;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
}

.card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }

#card-img{
    height:150px;
}
@media screen and (max-width: 600px) {
    nav a {
        color: white !important;
        font-size: 0.8em;
        margin: auto 40px;
    }

    body {
        background: linear-gradient(-45deg, #ee7752, #2c3e50, #23a6d5, #434343);
        background-size: 400% 400%;
        animation: gradient 5s ease infinite;
    }
    
}