@import url("https://fonts.googleapis.com/css?family=Blinker:400,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body,
html {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  
}

body,
html {
  background-size: 400% 400%;
  background-color: black;
  font-family: Blinker, sans-serif;
  letter-spacing: 0.1rem;
  background: linear-gradient(to left, #0f044d, #52135a);
  overflow-x: hidden;
}
.dynam svg {
  position: absolute;
  top: 35%;
  left: 50%;
  right: 50%;
  width: 350px;
  height: 350px;
  transform: translate(-50%, -50%);
}

.path {
  animation: draw 2.5s infinite;
  animation-timing-function: linear;
}

@keyframes draw {
  0% {
  }
  100% {
    stroke-dashoffset: 0;
    stroke-opacity: 1;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.nav-des {
  background: transparent !important;
  position: absolute;
  top: 5%;
  left: 15%;
}

nav a {
  /* color: white !important;
  font-size: 20px;
  margin: auto 40px; */
  color: white !important;
  font-size: 20px;
  color: white;
  margin: auto 30px;
}

nav a:hover {
  color: rgb(14, 232, 248) !important;
  transition: all 0.3s ease;
}

button {
  color: rgb(233, 229, 229);
  display: inline-block;
}

i {
  font-size: 25px;
}

.infotrek {
  position: absolute;
  top: 1.5%;
  left: 3.5%;
}

.infotrek img {
  height: 15%;
  width: 20%;
}

.events {
  color: white;
  text-align: center;
  padding: 4%;
  position: absolute;
  top: 20%;
  left: 40%;
}

h1 {
  font-size: 50px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.row {
  position: absolute;
  top: 50%;
}

.card {
  margin: 10px 10px 20px 60px;
  color: rgb(214, 203, 203);
  background-color: rgb(2, 3, 15) !important;
  width: 20rem;
  height: 20rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  padding-top: 12px;
  text-align: center;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 10px 15px 15px rgba(202, 195, 195, 0.3);
}

.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(109, 70, 70, 0.1);
  content: "";
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}

.card-title {
  margin-top: -4rem;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-align:center;
  font-family: 'Poiret One', cursive;
  color: #fff !important;
}


#card-img {
  height: 250px;
  width: 250px;
  margin-left: 2rem;
  margin-bottom: 0.01rem;
}

.btn {
  margin-bottom: 2rem;
  
  
}

.modal-img {
  width: 90%;
  height: 250px;
  padding-left: 5%;
  padding-bottom: 5%;
}

@media screen and (max-width: 800px) {
 

  body{
    background-size: 350% 350%;
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
  }
  .nav-des {
    margin-top: -38vh;
    left: 40vh;
    position: relative;
    color: white !important;
  }

  nav a {
    color: white !important;
    font-size: 1em;
    top: -20rem;
    margin-left: 1rem;
    width: 100%;
  }

  nav a:hover{
    color: rgb(14, 232, 248) !important;
    transition: all 0.3s ease;
  }
  button{
    color: #fff !important;
  }

  svg {
    padding-top: 2rem;
    position: relative;
    top: 10rem;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  } 

  h1 {
    margin-top: -1rem;
    font-size: 2rem;
    /* font-family: "Courier New", Courier, monospace; */
    font-weight: bold;
  }

  

  .infotrek{
    margin-left: 1rem;
  }

  .infotrek img{
    width: 60%;
  }

  body {
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    overflow-y: scroll;
  }

  .events {
    margin-left:-20rem;
    margin-top: 13rem;
    position: relative;
  }

  .card {
    margin: 10% auto;
  }
}
