@import url("https://fonts.googleapis.com/css?family=Blinker:400,800&display=swap");

html {
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
}

body {
  background-image: radial-gradient(
    circle,
    rgb(78, 19, 78),
    rgb(26, 27, 77),
    #000
  );
  animation: gradient 10s ease infinite;
  font-family: Blinker, sans-serif;
  letter-spacing: 0.1rem;
  color: #0c222b;
  background-position: center;
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#page-wrap {
  width: 800px;
  margin: 0 auto;
}

.nav-des {
  background: transparent !important;
  position: absolute;
  top: 5%;
  left: 15%;
}

.infotrek {
  position: absolute;
  top: 7%;
  left: 6%;
}

.infotrek img {
  height: 12%;
  width: 12%;
}

.infotrek-main {
  position: relative;
  top: -80px;
  left: 6.5rem;
  animation: zoomIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 4s !important;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-timing-function: linear;
}

.infotrek-main img {
  height: 20vh;
  width: 40vw;
}

nav a {
  color: white !important;
  font-size: 20px;
  color: white;
  margin: auto 30px;
}

nav a:hover {
  color: rgb(14, 232, 248) !important;
  transition: all 0.3s ease;
}

button {
  color: white;
  display: inline-block;
}

i {
  font-size: 25px;
}

#timer div {
  background-color: rgba(12, 8, 8, 0.863);
  color: #ffffff;
  width: 105px;
  height: 105px;
  border-radius: 5px;
  font-size: 35px;
  font-weight: 700;
  margin-top: -80px;
  margin-left: 10px;
  margin-right: 10px;
  box-shadow: 2px 4px 4px rgb(221, 236, 235);
}
#timer div span {
  display: block;
  margin-top: -2px;
  font-size: 15px;
  font-weight: 500;
}
@media screen and (max-width: 600px) {
  body {
    background-size: 300% 300%;
    overflow-x: hidden;
    background-position: center;
    background-repeat: no-repeat;
  }

  .infotrek {
    top: 0.2rem;
  }

  .infotrek img {
    width: 50%;
  }

  .nav-des {
    top: 1.5rem;
    left: 16rem;
  }

  nav a {
    position: relative;
    color: white !important;
    font-size: 10px;
    text-align: left;
    color: white;
    margin-right: -4%;
  }

  nav a:hover {
    color: rgb(14, 232, 248) !important;
    transition: all 0.3s ease;
  }

  #timer {
    margin-top: -20px;
  }
  #timer div {
    width: 70px;
    height: 70px;
    font-size: 32px;
    margin-top: 20px;
  }
  #timer div span {
    font-size: 14px;
  }
}
@media screen and (max-width: 375px) and (max-height: 800px) {
  #timer {
    margin-bottom: -20rem;
  }
  #timer div {
    width: 70px;
    height: 70px;
    font-size: 32px;
    margin-top: -15rem;
  }
  #timer div span {
    font-size: 14px;
  }

  .nav-des {
    top: 1.5rem;
    left: -40rem;
  }
}

@media screen and (max-width: 800px) {
  #timer {
    margin-bottom: -20rem;
    margin-left: 4rem;
  }
  #timer div {
    width: 70px;
    height: 70px;
    font-size: 32px;
    margin-top: -15rem;
  }
  #timer div span {
    font-size: 14px;
  }

  .nav-des {
    top: 2rem;
    left: 25rem;
  }

  nav a {
    font-size: 10px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  #timer {
    margin-bottom: -15rem;
  }
  #timer div {
    width: 120px;
    height: 120px;
    font-size: 32px;
    margin-top: -25rem;
  }
  #timer div span {
    font-size: 14px;
  }

  .nav-des {
    top: 2rem;
    left: 10rem;
  }

  nav a {
    font-size: 10px;
  }
}
