/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header {	
    background-image: url('../images/bg.jpg');
    z-index: -100;
}

.nav-des {
    background: transparent !important;
    margin-top: 2%;
}

nav a {
    color: white !important;
    font-size: 20px;
    margin: auto 40px;
}

button {
    color: white;
    display: inline-block;
}

i {
    font-size: 25px;
}

.logo {
    height: 6rem;
    width: 6rem;
    display: inline-block;
    position: fixed;
    z-index: 1;
    bottom: 85%;
    left: 93%;
}

.logo img {
    height: 100%;
    width: 100%;
}

.a{
	position: fixed;
	color:white;
	bottom:7%;
	left:43%;
    font-family: 'Dancing Script', cursive;
	font-size: 1.3em;
}

#acm{
  position: fixed;
  bottom: 6%;
  width: 50px;
  left: 49%;
}
.center {
    letter-spacing: 2px;
	position: absolute;
	font-size: 50px;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.date{
	font-size: large;
    letter-spacing: 2px;
	position: absolute;
	color: #f9f1e9;
	text-align: center;
	top: 55%;
	left: 43%;

}

@media screen and (max-width: 480px) {
    .logo {
        height: 4.5rem;
        width: 4.5rem;
        display: inline-block;
        position: fixed;
        z-index: 1;
        bottom: 85%;
        left: 80%;
    }
    
    .logo img {
        height: 100%;
        width: 100%;
    }

    #acm{
        position: fixed;
        bottom: 6%;
        width: 50px;
      }
   
}