.large-header {
	position: relative;
	width: 100%;
	background: #333;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

#large-header {	
    background-image: url('../images/bg.jpg');
    z-index: -100;
}

.nav-des {
    background: transparent !important;
    margin-top: 2%;
}

nav a {
    color: white !important;
    font-size: 20px;
    margin: auto 40px;
}

button {
    color: white;
    display: inline-block;
}

i {
    font-size: 25px;
}

#nitt {
    height: 6rem;
    width: 6rem;
    display: inline-block;
    position: fixed;
    bottom: 4%;
    left: 4%;
}

#nitt img {
    height: 100%;
    width: 100%;
}

#acm{
  position: absolute;
  bottom: 4%;
  height: 3rem;
  width: 10rem;
  right: 2%;
}

#acm span {
	color:white;
    font-family: 'Dancing Script', cursive;
	font-size: 1em;
}

#acm img {
    display: inline;
    height: 100%;
    width: 30%;
}

.center {
    letter-spacing: 2px;
	position: absolute;
	font-size: 50px;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
}

.date{
	font-size: large;
    letter-spacing: 2px;
	position: absolute;
	color: #f9f1e9;
	text-align: center;
	top: 55%;
	left: 43%;
}

@media screen and (max-width: 600px) {
    #nitt {
        height: 4.5rem;
        width: 4.5rem;
        display: inline-block;
        position: fixed;
        z-index: 1;
        bottom: 4%;
        left: 4%;
    }
    
    #nitt img {
        height: 100%;
        width: 100%;
    }

    .center {
        letter-spacing: 2px;
        position: absolute;
        font-size: 50px;
        color: #f9f1e9;
        text-align: center;
        top: 50%;
        left: 50%;
        -webkit-transform: translate3d(-50%,-50%,0);
        transform: translate3d(-50%,-50%,0);
    }
    
    .date{
        font-size: large;
        letter-spacing: 2px;
        position: absolute;
        color: #f9f1e9;
        text-align: center;
        top: 55%;
        left: 30%;
    }

    nav a {
        color: white !important;
        font-size: 0.7em;
        margin: auto 40px;
    }
    
}